:root {
    --theme-white: 255, 255, 255; // #fff
    --theme-black: 16, 0, 68; // #100044

    --theme-primary: 131, 68, 235; // #8344eb
    --theme-primary-light: 212, 117, 253; // #d475fd
    --theme-primary-dark: 55, 1, 108; // #37016c

    --theme-secondary: 238, 54, 137; // #ee3689
    --theme-tertiary: 97, 213, 212; // #61d5d4
    --theme-quaternary: 247, 104, 32; // #f76820
}
