@import '../shared/placeholders';
@import './animations';

.loading {
    .game-menu {
        display: none;
    }
}

.game-initialized {
    .game-menu {
        opacity: 0 !important;
    }
}

.game-menu {
    @extend %cool-box;
    @include reveal-box();

    display: block;
    text-align: center;
    transition: opacity ease 1s;
    z-index: 1;

    h1,
    button {
        position: inherit;
        z-index: 1;
    }

    h1 {
        color: rgb(var(--theme-black));
        opacity: 0.85;
        font-size: clamp(40px, 10vw, 60px);

        b {
            color: rgb(var(--theme-secondary));
        }
    }

    button {
        background-color: transparent;
        background-image: linear-gradient(
            -150deg,
            rgb(var(--theme-primary-light)),
            rgb(var(--theme-primary))
        );
        color: #fff;
        border-radius: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        font-size: clamp(18px, 5vw, 25px);
        margin-top: 25px;
        padding: 10px 15px;
        transition: transform ease 250ms;
        cursor: pointer;

        &:hover {
            transform: scale(1.25) rotate(-3deg);
        }
    }
}
