.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    &::after {
        content: '';
        background-color: rgba(var(--theme-primary-dark), 0.5);
        backdrop-filter: blur(20px);
        transition: opacity ease 500ms;
    }

    &::after,
    video,
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    video {
        object-fit: cover;
    }
}
